<!DOCTYPE html>
<html lang="en">
<head>
  <title>[AUTHOR] - [TITLE]</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <base target="_blank">
  <meta name="author" content="[AUTHOR]" />
  <meta name="description" content="A page for the game [TITLE] by [AUTHOR]." />
  <link rel="stylesheet" href="style.css" type="text/css" media="all" />
  <link rel="profile" href="https://microformats.org/profile/rel-license" />
  <link rel="profile" href="https://microformats.org/profile/rel-nofollow" />
<meta property="og:site_name"     content="[AUTHOR] - [TITLE]" />
<meta property="og:type"          content="article" />
<meta property="og:title"         content="[TITLE]" />
<meta property="og:description"   content="An interactive fiction by [AUTHOR]." />
<meta property="og:image"         content="Cover Small.jpg" />
<link rel="copyright" type="text/html" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en" title="Creative Commons BY-NC-SA license" />

</head>
<body>
<div class="container">
<div class="coverimage"><span>[COVER]</span></div>
<div class="introduction">
	<h1><span>[TITLE]</span></h1>
	<h2><span>[AUTHOR]</span></h2>
	<div class="bibliography"><span>Release [RELEASE]</span></div>
</div>
<div class="links">
	<ul>
	<li><div class="download">[DOWNLOAD]</div></li>
	<li>&nbsp;</li>
	<div class="auxiliary">[AUXILIARY]</div>
	<li>&nbsp;</li>
	<li><a href="https:strawberryfield.altervista.org" target="_blank">«The Strawberry Field»</a> <span class="filetype">(link)</span></li>
	<li>&nbsp;</li>
	<li><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en" target="_blank">License</a> <span class="filetype">(link)</span></li>
	</ul>
</div>

<div class="about"><span>[BLURB]</span></div>

<div class="playinfo">
	<p>[TITLE] was created with <a href="http://inform7.com/" target="_blank">Inform</a> and has IFID [IFID].</p>
	<p>This work is copyright &copy; 2023 [AUTHOR] and released under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en" target="_blank">Creative Commons BY-NC-SA</a> license.</p>
	<p>To play a work like this one, you need an interpreter program: many are available,
	among them
	<br><a href="http://ccxvii.net/gargoyle/" target="_blank">Gargoyle for MacOS, Linux or Windows</a>;
	<br><a href="https://github.com/angstsmurf/spatterlight/releases" target="_blank">Spatterlight for MacOS</a>;
	<br><a href="http://davidkinder.co.uk/frotz.html" target="_blank">Windows Frotz</a> or 
	<br><a href="http://davidkinder.co.uk/glulxe.html" target="_blank">Windows Glulxe</a> for Windows.</p>
	<p>[OTHERCREDITS]</p>
	<p>[INBROWSERPLAY]</p>
</div>

</div>
</body>
</html>
