<!DOCTYPE html>
<html lang="en">
<head>
  <title>[AUTHOR] - [TITLE] — Play</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="author" content="[AUTHOR]">
  <link rel="stylesheet" href="style.css">
  <link rel="profile" href="https://microformats.org/profile/rel-license" />
  <link rel="profile" href="https://microformats.org/profile/rel-nofollow" />
<meta property="og:site_name"     content="[AUTHOR] - [TITLE]" />
<meta property="og:type"          content="book" />
<meta property="og:title"         content="Play «[TITLE]»" />
<meta property="og:description"   content="An interactive fiction by [AUTHOR]." />
<meta property="og:image"         content="Cover Small.jpg" />
<link rel="copyright" type="text/html" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en" title="Creative Commons BY-NC-SA license" />
 
  [INTERPRETERHEAD]
  
</head>
<body class="play">
<div class="container">
<div class="coverimage"><span>[COVER]</span></div>
<div class="links">
<p>&nbsp;</p>
<div class="smalltitle">[TITLE]</div>
<ul>
<li><a href="index.html">Home page</a></li>
</ul>
</div>

<div id="gameport">
[INTERPRETERBODY]
</div>

</div>
<div class="interpretercredit"><a href="[INTERPRETERURL]">[INTERPRETERVERSION]</a></div>
</body>
</html>
